<!DOCTYPE html>
<html>
<head>
	<title>Sender</title>
</head>
<body style="font-family: sans-serif;">
	<div style="max-width:550px; background-color: #dcdcdc; padding: 25px;">
	<div style="background: white; color:#34495e; padding: 25px;">
	<img src="cid:vpaylogo" title="Vpayqwik" alt="Vpayqwik" style="width: 170px; padding: 8px;"><hr>
	<p><b>Dear ${senderName},</p>
	<p style="color:#919bae; line-height: 20px;">You had done NEFT request ${amount} to below user details:</p>
	<p style="color:#919bae; line-height: 20px;">Receiver Info:</p>
	<div style="line-height: 6px;">
		<p>Name: <span>${receiverName}</span></p>
		<p>Email: <span>${receiverEmailId}</span></p>
		<p>Mobile No.: <span>${receiverMobileNo}</span></p>
	</div>
	<p style="color:#919bae; line-height: 20px;">Bank Account Details:</p>
	<div style="line-height: 6px;">
		<p>Amount:<span>${amount}</span></p>
		<p>Bank Name: <span>${bankName}</span></p>
		<p>Acc No: <span>${accountNumber}</span></p>
		<p>Transaction Id: <span>${transactionId}</span></p>
		<p>IFSC Code: <span>${ifscCode}</span></p>
	</div>
	<p>Thanks,<br>VPayQwik</b></p>
	<div style="text-align: center;"><h4 style="margin-bottom: 0;">Thanks for using VPayqwik.</h4><p style="color: #919bac; margin-top: 4px;">You just pay your bill using VPayqwik and we hope it was a smooth experience for you. If you have any concerns, please write to <a href="">support.</a></p></div></div>
	<br>
	<div style="background: white; color:#34495e; padding: 25px;">
	<p style="text-align: center;">That was fun! Let's do it again!<br><small>You can use your wallet money at below outlets</small></p>
	<center><div><img src="cid:tkhanalogo" style="width: 100px;margin-right: 20px;"><img src="cid:patanjalilogo" style="width: 100px;margin-right: 30px;"><img src="cid:treatcardlogo" style="width: 100px;margin-right: 30px;"><img src="cid:nikilogo" style="width: 50px;margin-right: 10px;"></div></center>
	</div>

	<br>
	<div style="background: white; color:#34495e; padding: 25px;height: 370px;">
	<p style="text-align: center;"><b>There's a lot more you can do...</b></p>
	<center><div>
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box; height: 150px;"><img src="cid:rechargelogo" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;"><b>Recharge and Pay Bills</p></div>
	
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src="cid:utilitylogo" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Pay Utility Bills</p></div>
	
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src="cid:trasnferlogo" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Transfer Money</p></div>
	</div></center>
	
	<center><div>
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src="cid:giftlogo" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Buy Gift Cards</p></div>
	
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src="cid:shoppinglogo" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Shop and Pay</p></div>
	
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src="cid:travellogo" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Book Your Travel Tickets</b></p></div>
	</div></center>
	</div>
</body>
</html>
