<!DOCTYPE html>
<html>
<head>
	<title>Bill Payment</title>
</head>
<body style="font-family: sans-serif;">
	<div style="max-width:550px; background-color: #dcdcdc; padding: 25px;">
	<div style="background: white; color:#34495e; padding: 25px;">
	<img src="${vpaylogo}" title="Vpayqwik" alt="Vpayqwik" style="width: 170px; padding: 8px;"><hr>
	<p><b> Dear ${user.userDetail.firstName},</p>
	<p style="color:#919bae"> Your ${transaction.description} was successful.</p>
	<p style="color:#919bae">Updated wallet balance is &#x20B9;${updatedBalance}.<br>Hope you have pleasant experience.Keep using VPayQwik.</p>
	<p>Thanks,<br>VPayQwik</b></p>
	<div style="text-align: center;"><h4 style="margin-bottom: 0;">Thanks for using VPayqwik.</h4><p style="color: #919bac; margin-top: 4px;">You just pay your bill using VPayqwik and we hope it was a smooth experience for you. If you have any concerns, please write to <a href="">support.</a></p></div></div>
	<br>
		<div style="background: white; color:#34495e; padding: 25px;">
	<p style="text-align: center;">That was fun! Let's do it again!<br><small>You can use your wallet money at below outlets</small></p>
	<center><div><img src="${tkhanalogo}" style="width: 100px;margin-right: 20px;"><img src="${patanjalilogo}" style="width: 100px;margin-right: 30px;"><img src="${treatcardlogo}" style="width: 100px;margin-right: 30px;"><img src="${nikilogo}" style="width: 50px;margin-right: 10px;"></div></center>
	</div>

	<br>
	<div style="background: white; color:#34495e; padding: 25px;height: 370px;">
	<p style="text-align: center;"><b>There's a lot more you can do...</b></p>
	<center><div>
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;    height: 150px;"><img src="${rechargelogo}" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;"><b>Recharge and Pay Bills</p></div>
	
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src= "${utilitylogo}" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Pay Utility Bills</p></div>
	
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src= "${transferlogo}" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Transfer Money</p></div>
	</div></center>
	
	<center><div>
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src="${giftlogo}" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Buy Gift Cards</p></div>
	
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src="${shoppinglogo}" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Shop and Pay</p></div>
	
	<div style="float: left;width: 33.33%;padding: 10px; box-sizing: border-box;"><img src= "${travellogo}" style="width: 100px;"><p style=" font-size: 12px;color:#4ad8e8;">Book Your Travel Tickets</b></p></div>
	</div></center>
	</div>
	
	
	
	
	<!-----footer----->
	<br>
	<hr>
	<center style="margin-top: -21px;"><a href="https://www.facebook.com/Msewasoftware/"><img src="${fblogo}" style="background: gainsboro;width: 20px"></a><a href="https://twitter.com/MsewaSoftware"><img src="${twlogo}" style="background: gainsboro;width: 25px"></a></center>
	<div style="margin-left: 22%;margin-top: 30px;">
	<div style="float: left; margin-right: 10px;"><img src="${msewa_image}" style="margin-top: 10px;width: 50px;"></div>
	<div style="border-left: solid 1px; margin-left: 53px;">Msewa Software Solution Pvt. Ltd.<br>Bangalore, India<br><a href="www.msspayments.com">www.msspayments.com</a></div>
	</div>
	
	</div>
	
	</div>	
</body>
</html>			