<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VPayQwik</title>
</head>

<div class="section" style="width: 500px; margin-top: 20px; font-family: Arial, Helvetica, sans-serif; background: rgba(231,231,231,1.00);">
    <div class="section" style=" margin: 10px 0px 0px 0px; padding: 20px; font-size: 18px; line-height: 18px;">

        <div class="box" style="height: 30px; margin-bottom: 5px; background: white; padding: 20px;">
            <img src="cid:vpaylogo" alt="vpayqwik">
        </div>

        <div style="height: 260px; background: white; padding: 10px; ">

            <p style="font-weight: bold;">Dear ${user.userDetail.firstName},</p>
            <p style="font-weight: bold; line-height: 1.5; margin-bottom: 30px;">You have received payment successfully.<br/>
                Transaction Id : <b style="color: #17bcc8;">${transaction.transactionRefNo}</b><br/>
                Amount Rs. <b style="color: #17bcc8;">${transaction.amount}</b></br>
                Transaction Date : <b style="color:#17bcc8;">${transaction.created}</b></p>

            <p style="font-size: 15px; line-height: 1.5;">Thank you<br>VPayQwik</p>

        </div>
    </div>
    </div>
    </body>
</html>